ENCRYPTION_KEY="set your own encryption key"

DB_HOST=localhost
DB_PORT=5432
DB_NAME=opentabletop_db
DB_USER=userDefault
DB_PASSWORD=passwdDefault

DB_MIN_CONN=1
DB_MAX_CONN=20

STORAGE_DIR="/path/to/your/storage"